<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">
<!-- AOP 적용 : 공통으로 사용되는 기능 -->
<!-- 사용자 정의 클래스 등록 -->
<context:component-scan base-package="com.sist.*"/>
<!-- 데이터베이스 정보 저장 -->
<!-- 트랜잭션 설정 -->
<!-- 마이바티스 연결 -->
<!-- Mapper 구현 -->
<!-- 보안 -->
<!-- 소켓 -->
</beans>
